.full-image {
    -webkit-mask-image: url('../../assets/hub-icon.svg');
    mask-image: url('../../assets/hub-icon.svg');
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-border-mode: alpha;
}